.side_bar
  .side_bar__users
    .side_bar__users__userName
      kudou
    =link_to "#", class: "side_bar__users__icon" do
      = icon("fas", "edit", class: "side_bar__users__icon--edit")
    =link_to "#", class: "side_bar__users__icon" do
      = icon("fas", "cog", class: "side_bar__users__icon--cog")
  .side_bar__groups
    .side_bar__groups__group
      .side_bar__groups__group__name
        groupA
      .side_bar__groups__group__currentMessage
        hello
